.card1{
  background-color: rgb(78, 155, 222);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(195, 211, 15, 0.1);
  margin: 20px;
}

.card2{
  background-color: rgb(167, 62, 154);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(195, 211, 15, 0.1);
  margin: 20px;
}